
Exercise2/.vs/Exercise2/v17/.suo
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/appsettings.Development.json
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/appsettings.json
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/EmployeeManagerment.deps.json
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/EmployeeManagerment.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/EmployeeManagerment.exe
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/EmployeeManagerment.pdb
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/EmployeeManagerment.runtimeconfig.dev.json
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/EmployeeManagerment.runtimeconfig.json
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.Streams.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/K4os.Hash.xxHash.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/MySql.Data.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/MySql.Data.EntityFrameworkCore.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/Ubiety.Dns.Core.dll
Exercise2/Exercise2/bin/Debug/netcoreapp3.1/ZstdNet.dll
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/apphost.exe
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.AssemblyInfo.cs
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.AssemblyInfoInputs.cache
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.assets.cache
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.csproj.AssemblyReference.cache
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.csproj.BuildWithSkipAnalyzers
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.csproj.CopyComplete
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.csproj.CoreCompileInputs.cache
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.csproj.FileListAbsolute.txt
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.dll
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.GeneratedMSBuildEditorConfig.editorconfig
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.genruntimeconfig.cache
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.MvcApplicationPartsAssemblyInfo.cache
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.MvcApplicationPartsAssemblyInfo.cs
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.pdb
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/EmployeeManagerment.RazorTargetAssemblyInfo.cache
Exercise2/Exercise2/obj/Debug/netcoreapp3.1/staticwebassets/EmployeeManagerment.StaticWebAssets.Manifest.cache
Exercise2/Exercise2/obj/EmployeeManagerment.csproj.nuget.dgspec.json
Exercise2/Exercise2/obj/EmployeeManagerment.csproj.nuget.g.props
Exercise2/Exercise2/obj/EmployeeManagerment.csproj.nuget.g.targets
Exercise2/Exercise2/obj/project.assets.json
Exercise2/Exercise2/obj/project.nuget.cache
